.ruff_cache
.pytest_cache
.env
__pycache__/
*.__pycache__/
logs
sonar-project.properties
sonar-project.properties
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
.sonar/
target/
build/
*.sonar
.env
redis_data/
.codegpt
*rag_env/